[user]
	name = Rolando Garza
	email = rolandog@gmail.com
	signingkey = E726BC7BEF39923D
[core]
	editor = emacs
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
#[includeIf "gitdir:~/projects/"]
#	path = ~/.gitconfig-personal
[alias]
	logs = log --pretty='format:%h %G? %aN  %s'
