; default is personal account
[includeIf "gitdir:~/"]
	path = ~/.gitconfig-personal
; will overwrite previous values
[includeIf "gitdir/i:~/Documents/work/"]
	path = ~/.gitconfig-professional
[core]
	editor = emacs
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	logs = log --pretty='format:%h %G? %aN  %s'
