# -*- mode: gitignore; -*-

# emacs backup files
.+~
**/.+~

# emacs autosave files
\#.+\#
**/\#.+\#

# log files
*.log

# audio files
*.wav

# global generated gitignore file
git/.config/git/global.gitignore

# intermediate tex files
*.tex

# local files
ssh/**/local.conf

