# -- mode: org; --
#+AUTHOR: Rolando Garza
#+EMAIL: rolandog@gmail.com
#+HTML_DOCTYPE: html5
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="style/new.css">
#+LATEX_CLASS: article
#+LATEX_CLASS_OPTIONS: [a4paper, 11pt, oneside]
#+LATEX_HEADER: \renewcommand{\familydefault}{\sfdefault} % sans serif font
#+LATEX_HEADER: \setcounter{secnumdepth}{0} % remove section numbering
#+LATEX_HEADER: \usepackage{lmodern}
#+LATEX_HEADER: \usepackage[margin=2.5cm]{geometry}
#+LATEX_HEADER: \usepackage[spanish]{babel}
#+OPTIONS: html-style:nil
#+OPTIONS: html-scripts:nil
#+OPTIONS: tex:mathml
#+OPTIONS: ^:{}
#+LANGUAGE: es
#+STARTUP: content
