# -- mode: org; --
#+AUTHOR: Rolando Garza
#+EMAIL: rolandog@gmail.com
#+HTML_DOCTYPE: html5
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="style/new.css">
#+HTML_HEAD: <style>.JUSTIFYLEFT {text-align: left;}</style>
#+HTML_HEAD: <style>.JUSTIFYRIGHT {text-align: right;}</style>
#+HTML_HEAD: <style>.org-center {text-align: center;}</style>
#+LATEX_CLASS: letter
#+LATEX_CLASS_OPTIONS: [a4paper, 11pt, oneside]
#+LATEX_HEADER: \renewcommand{\familydefault}{\sfdefault} % sans serif font
#+LATEX_HEADER: \setcounter{secnumdepth}{0} % remove section numbering
#+LATEX_HEADER: \usepackage{lmodern}
#+LATEX_HEADER: \usepackage[margin=2.5cm]{geometry}
#+LATEX_HEADER: \usepackage[spanish]{babel}
#+LATEX_HEADER: \usepackage{ragged2e}
#+LATEX_HEADER: \newenvironment{JUSTIFYRIGHT}{\begin{FlushRight}}{\end{FlushRight}}
#+LATEX_HEADER: \newenvironment{JUSTIFYLEFT}{\begin{FlushLeft}}{\end{FlushLeft}}
#+OPTIONS: html-style:nil
#+OPTIONS: html-scripts:nil
#+OPTIONS: tex:mathml
#+OPTIONS: author:nil
#+OPTIONS: date:nil
#+OPTIONS: email:nil
#+OPTIONS: title:nil
#+OPTIONS: toc:nil
#+OPTIONS: ^:{}
#+LANGUAGE: es
#+STARTUP: content
